<div class="about-container">
  <div class="about-content">
    <h2>About Bright Horizons School</h2>
    <div class="content-div">
      <div class="about-imgs">
        <img src="/assets/about house.png" alt="" />
        <img src="/assets/about people.png" alt="" />
      </div>
      <div class="about-txt">
        <p class="txt">
          At Bright Horizons School, we believe that every child has the
          potential to achieve greatness. Founded in 2010, our school has been a
          cornerstone of academic excellence, character development, and
          community engagement for over 15 years.
        </p>
        <p class="txt">
          Our mission is to provide a nurturing and inclusive environment where
          students can explore their passions, develop critical thinking skills,
          and grow into confident, compassionate leaders. We are committed to
          fostering a love for learning that lasts a lifetime.
        </p>
        <div>
          <h4 class="txt-head">Our Key Highlights</h4>
          <p class="txt">
            <strong>Award-Winning Faculty: </strong>Our dedicated teachers are
            passionate about inspiring young minds and helping students reach
            their full potential.
          </p>
          <p class="txt">
            <strong>Holistic Education: </strong>We offer a balanced curriculum
            that integrates academics, arts, sports, and character education.
          </p>
          <p class="txt">
            <strong>State-of-the-Art Facilities:</strong>
            From modern classrooms to well-equipped science labs and sports
            fields, we provide the tools students need to succeed.
          </p>
          <p class="txt">
            <strong>Inclusive Community: </strong>We celebrate diversity and
            strive to create a welcoming environment for all students and
            families.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
