<div class="container-main">
  <div class="container-con">
    <img src="assets/bhs logo.png" alt="" />
    <div class="nav-link">
      <a routerLink="dashboard" routerLinkActive="active">Home</a>
      <a routerLink="/studentlist" routerLinkActive="active">Student List</a>
      <a routerLink="programs" routerLinkActive="active">Programs</a>
      <a routerLink="studentform" routerLinkActive="active">Student Form</a>
    </div>

    <div class="frame">
      <i class="fa fa-search"></i>
      <button routerLink="dashboard" class="nav-btn"></button>
    </div>
  </div>
</div>
