<hr />
<div class="footer-main-container">
  <div class="footer-main">
    <div class="footer-link">
      <img
        routerLink="/"
        routerLinkActive="active"
        src="assets/bhs logo.png"
        alt=""
      />
      <div class="links">
        <a routerLink="/" routerLinkActive="active">Home</a>
        <a routerLink="/about" routerLinkActive="active">About Us</a>
        <a routerLink="/programs" routerLinkActive="active">Programs</a>
        <a routerLink="/contact" routerLinkActive="active">Contacts Us</a>
      </div>
    </div>
    <div class="newsletter">
      <p>Stay up to date with our newsletter</p>
      <div class="input">
        <input
          class="email-input"
          type="email"
          placeholder="Enter your email"
        />
        <button class="subscribe">Subscribe</button>
      </div>
    </div>
  </div>

  <div class="line"></div>

  <div class="copyright">
    <p>© 2023 Bright Horizons School. All rights reserved</p>
    <div class="policy">
      <a href="">Terms</a>
      <a href="">Privacy</a>
      <a href="">Cookies</a>
    </div>
  </div>
</div>
