<div class="main-container">
  <div class="regDiv-container">
    <div class="nav-container">
      <img class="logo" src="assets/bhs logo.png" alt="" />
      <div class="reg">
        <a class="alreadyHaveAcc click" href="/">Already have an account?</a>
        <a class="signIn click" href="/">Sign In</a>
      </div>
    </div>

    <div class="welcome-txt">
      <h3>Lets get you started.</h3>
      <p>Create an account to get started.</p>
    </div>

    <div class="reg-container">
      <button class="google-container">
        <img class="google-logo" src="assets/google.png" alt="" />
        Continue with Google
      </button>
      <p>or</p>

      <button class="email-btn">Continue with email</button>
      <p class="policy">
        By continuing, you agreeing to our <a href="">Terms of Use </a>and
        <a href="">Privacy Policy.</a>
      </p>
    </div>
  </div>
  <div class="main-img"></div>
</div>
