<div class="container-main">
  <div class="container-con">
    <img [src]="image" [routerLink]="home" routerLinkActive="active" alt="" />
    <div class="nav-link">
      <a [routerLink]="home" routerLinkActive="active">{{ homePage }}</a>
      <a [routerLink]="about" routerLinkActive="active">{{ aboutPage }}</a>
      <a [routerLink]="programs" routerLinkActive="active">{{
        programsPage
      }}</a>
      <a [routerLink]="contact" routerLinkActive="active">{{ contactPage }}</a>
    </div>

    <div class="frame">
      <i class="fa fa-search"></i>
      <button routerLink="dashboard" class="nav-btn">{{ login }}</button>
    </div>
  </div>
</div>
