<div class="top-navbar-reg">
  <div class="navbar-content">
    <div class="logo">
      <img src="assets/oratorsLogo.jpeg" alt="logo" />
      <h4>Orators Guild International</h4>
    </div>
    <div class="navbar">
      <a href="/">Home</a>
      <a href="/">Channels</a>
      <a href="/">Members</a>
      <a href="/">Contacts</a>
      <a href="/">About Us</a>
    </div>
    <div class="user">
      <img src="assets/avatar.jpeg" alt="avatar" />
      <p>Chistopher</p>
    </div>
  </div>
</div>
