<div class="main-container">
  <div class="content-container">
    <img src="assets/contact.png" alt="" />
    <div class="txt-container">
      <div class="txt">
        <h1 class="txt-title">Get in Touch</h1>
        <p>
          Have questions about our programs, admissions process, or school life?
          We’re here to help! At Bright Horizons School, we believe in open
          communication and are always ready to assist you. Whether you’d like
          to schedule a campus tour, speak with our admissions team, or simply
          learn more about what makes our school unique, we’re just a message or
          call away.
        </p>
      </div>

      <div class="contact txt">
        <p class="contact-txt">
          <strong>Address: </strong>Bright Horizons School , 123 Sunshine Avenue
          , Greenwood City, CA 90210 , United States
        </p>
        <p class="contact-txt"><strong>Phone: </strong>+1 (555) 123-4567</p>
        <p class="contact-txt">
          <strong>Email: </strong>info brighthorizonsschool.com
        </p>
      </div>
    </div>
  </div>
</div>
