<div>
  <div class="channels-container">
    <div class="div-channel">
      <div class="channel">Development Channel</div>
      <div class="channel">Effective Communication Channel</div>
    </div>
    <div class="chls-content">
      <h2>DEVELOPMENTAL CHANNELS</h2>
      <p>
        We believe that leadership is a skill that can be cultivated and honed.
        Through our channel, members will embark on a transformative journey of
        self-discovery, gaining essential leadership skills such as effective
        communication, strategic thinking, conflict resolution, networking,
        confidence building, and emotional intelligence. These skills form the
        foundation of strong and inspiring leadership.
      </p>
    </div>
  </div>

  <div class="elevate">
    <div class="tips1">Elevate your communication prowess</div>
    <div class="elevate-img"></div>
    <div class="tips2">
      <h3>Looking to overcoming stage jitters</h3>
      <p>
        Our diverse community is here to provide unwavering support and
        encouragement
      </p>
    </div>
  </div>
  <div class="intro">
    <p>
      Joining Orators Guild International opens doors to a plethora of
      opportunities
    </p>
  </div>
  <div class="opp-main">
    <div class="opp-div">
      <app-opp-div
        [image]="'/assets/publicSpeaking.jpeg'"
        [header]="'Public Speaking Excellence'"
        [paragraph]="
          ' Public speaking is a crucial skill for anyone seeking to influence, inspire, and lead.'
        "
      ></app-opp-div>

      <app-opp-div
        [image]="'/assets/publicSpeaking2.jpeg'"
        [header]="'Elocution Mastery'"
        [paragraph]="
          ' Elocution, the art of clear and expressive speech, forms the foundation of effective communication.'
        "
      ></app-opp-div>

      <app-opp-div
        [image]="'/assets/publicSpeaking3.jpeg'"
        [header]="'Business Communication Proficiency'"
        [paragraph]="
          ' Business communication is tailored to the demands of professional environments, emphasizing clear ...'
        "
      ></app-opp-div>
    </div>
  </div>
  <div class="opp-main">
    <div class="opp-div">
      <app-opp-div
        [image]="'/assets/publicSpeaking.jpeg'"
        [header]="'Public Speaking Excellence'"
        [paragraph]="
          ' Public speaking is a crucial skill for anyone seeking to influence, inspire, and lead.'
        "
      ></app-opp-div>

      <app-opp-div
        [image]="'/assets/publicSpeaking2.jpeg'"
        [header]="'Elocution Mastery'"
        [paragraph]="
          ' Elocution, the art of clear and expressive speech, forms the foundation of effective communication.'
        "
      ></app-opp-div>

      <app-opp-div
        [image]="'/assets/publicSpeaking3.jpeg'"
        [header]="'Business Communication Proficiency'"
        [paragraph]="
          ' Business communication is tailored to the demands of professional environments, emphasizing clear ...'
        "
      ></app-opp-div>
    </div>
  </div>
  <div class="intro">
    <p>Become a Member of our community and explore your potentials</p>
  </div>
  <div class="card-container">
    <div class="member-card-main">
      <img class="firstMem" src="assets/memberImage.jpeg" alt="member Image" />
      <div class="member-cont">
        <p class="mastery">Elocution Mastery</p>
        <p>
          Elocution, the art of clear and expressive speech, forms the
          foundation of effective communication.
        </p>
        <div class="button-card">Welcome to our community</div>
        <div class="member-icon">
          <img class="member" src="assets/member1.jpeg" />
          <img class="member" src="assets/avatar.jpeg" />
          <img class="member" src="assets/member2.jpeg" />
          100+ Members
        </div>
      </div>
      <img class="member3" src="assets/member3.jpeg" alt="" />
    </div>
  </div>

  <app-faq-component />
  <app-footer />
</div>
