<div class="container">
  <h2 class="header">Our Programs</h2>
  <div class="cards">
    <app-card
      [image]="'assets/boy.png'"
      [schoolName]="'PRIMARY SCHOOL'"
      [yearAge]="'Years 3–6 | Ages 7–11'"
    />
    <app-card
      [image]="'assets/girl.png'"
      [schoolName]="'MIDDLE SCHOOL'"
      [yearAge]="'Years 7–9 | Ages 11–14'"
    />
  </div>
  <div class="cards">
    <app-card
      [image]="'assets/girl2.png'"
      [schoolName]="'SENIOR SCHOOL'"
      [yearAge]="'Years 10–11 | Ages 14–16'"
    />
    <app-card
      [image]="'assets/guy.png'"
      [schoolName]="'SIXTH FORM'"
      [yearAge]="'Years 12–13 | Ages 16–19'"
    />
  </div>
</div>
