* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
  height: 100%;
}
.hide-navbar app-navbar {
  display: none;
}

.hide-navbar app-footer {
  display: none;
}
